.activities{
    padding-bottom: 40px;
    background: linear-gradient(180deg,#fff 0%, #f0f1ff 100%);
    @include breakpoint(tablet) {
        padding-bottom: 80px;   
    }

    &_header{
        background-image:$gradient-pink-orange;
        padding: 25px 30px;
        color:white;
        border-radius: 10px;
        margin-bottom: 60px;
        @include breakpoint(tablet) {
            margin-bottom: 0;   
        }
    }

    &_item{
        padding:1rem 2rem;
        margin-bottom: 40px;
        background-color: white;
        border-radius: 10px;
        padding: 56px 28px 40px;
        position: relative;
        @include breakpoint(tablet) {
            margin-bottom: 0;   
        }
        &:last-child{
            margin-bottom: 0;
        }
        

        &-icon {
            width: 56px;
            height: 56px;
            display: flex;
            background: $gradient-pink-orange;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin-bottom: 20px;
            position: absolute;
            left: 20px;
            top:-25px;

        }

        &-title{
            color:$black;
            font-size: 20px;
            margin-bottom: 16px;

        }

        &-description{
            color:#83869A;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 28px;
            font-weight: 300;

        }

        &-cta{

        }
    }

    .container {
        @include breakpoint(tablet) {
            display:grid;
            grid-template-columns: 1fr 1fr;
            gap:40px 20px;
        }

        @include breakpoint(tablethorizontal) {
            padding-bottom: 50px;
            grid-template-columns: 1fr 1fr 1fr;
            gap:80px 20px;
        }
    }

}
    