* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.button {
  display: inline-block;
  padding: 10px 24px;
  color: white;
  background-color: #13183f;
  text-decoration: none;
  border-radius: 28px;
}
.button:hover {
  background-color: #666CA3;
}

.button-pink-orange {
  display: inline-block;
  padding: 10px 24px;
  color: white;
  background-color: #13183f;
  text-decoration: none;
  border-radius: 28px;
  background-image: linear-gradient(180deg, #ff6f48 0.04%, #f02aa6 100%);
}
.button-pink-orange:hover {
  background-color: #666CA3;
}
.button-pink-orange:hover {
  background: var(--Gradient-1-Hover, linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%));
}

.button-pink-blue {
  display: inline-block;
  padding: 10px 24px;
  color: white;
  background-color: #13183f;
  text-decoration: none;
  border-radius: 28px;
  background-image: linear-gradient(180deg, #4851ff 0%, #f02aa6 99.92%);
}
.button-pink-blue:hover {
  background-color: #666CA3;
}
.button-pink-blue:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%) !important;
}

.button-link {
  color: #f74780;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
}

.hero {
  margin-bottom: 40px;
}
@media (min-width: 1024px) {
  .hero {
    margin-bottom: 100px;
  }
}
.hero_title {
  margin-bottom: 26px;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
}
.hero_subtitle {
  margin-bottom: 26px;
  color: #83869a;
  line-height: 26px;
}
.hero_buttons {
  margin-bottom: 40px;
}
.hero_img {
  text-align: center;
  max-width: 80%;
  margin-left: 10%;
  position: relative;
}
@media (min-width: 768px) {
  .hero_img {
    width: 50%;
    margin: 0;
  }
}
.hero_number {
  display: inline-block;
  width: -moz-max-content;
  width: max-content;
  background-color: white;
  color: #13183f;
  padding: 5px;
  gap: 10px;
  text-align: left;
  position: absolute;
  border-radius: 1rem;
  box-shadow: 0 5px 10px #ccc;
}
.hero_number span {
  display: block;
}
.hero_number_title {
  font-size: 14px;
  color: #83869a;
}
.hero_number-number {
  color: #13183f;
  font-size: 32px;
  font-weight: 700;
}
.hero_number-1 {
  padding: 16px 20px 16px 20px;
  top: 0;
  right: 10px;
  position: absolute;
}
@media (min-width: 768px) {
  .hero_number-1 {
    top: -33px;
  }
}
@media (min-width: 1024px) {
  .hero_number-1 {
    top: 33px;
    right: 20px;
  }
}
@media (min-width: 1200px) {
  .hero_number-1 {
    top: 33px;
    right: 20px;
  }
}
.hero_number-2 {
  padding: 16px 45px 16px 20px;
  bottom: 0;
  left: -30px;
  position: absolute;
}
@media (min-width: 768px) {
  .hero_number-2 {
    bottom: -130px;
    left: 65px;
  }
}
@media (min-width: 1024px) {
  .hero_number-2 {
    bottom: -60px;
    left: 22px;
  }
}
@media (min-width: 1200px) {
  .hero_number-2 {
    bottom: -60px;
    left: 128px;
  }
}
@media (min-width: 768px) {
  .hero_img-mobile {
    display: none;
  }
}
@media (min-width: 768px) {
  .hero .container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;
  }
}
.hero_content {
  max-width: 80%;
}
@media (min-width: 768px) {
  .hero_content {
    max-width: 40%;
  }
}
@media (min-width: 1024px) {
  .hero_content {
    max-width: 30%;
  }
}
@media (min-width: 1200px) {
  .hero_content {
    max-width: 360px;
  }
}

.activities {
  padding-bottom: 40px;
  background: linear-gradient(180deg, #fff 0%, #f0f1ff 100%);
}
@media (min-width: 768px) {
  .activities {
    padding-bottom: 80px;
  }
}
.activities_header {
  background-image: linear-gradient(180deg, #ff6f48 0.04%, #f02aa6 100%);
  padding: 25px 30px;
  color: white;
  border-radius: 10px;
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .activities_header {
    margin-bottom: 0;
  }
}
.activities_item {
  padding: 1rem 2rem;
  margin-bottom: 40px;
  background-color: white;
  border-radius: 10px;
  padding: 56px 28px 40px;
  position: relative;
}
@media (min-width: 768px) {
  .activities_item {
    margin-bottom: 0;
  }
}
.activities_item:last-child {
  margin-bottom: 0;
}
.activities_item-icon {
  width: 56px;
  height: 56px;
  display: flex;
  background: linear-gradient(180deg, #ff6f48 0.04%, #f02aa6 100%);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 20px;
  position: absolute;
  left: 20px;
  top: -25px;
}
.activities_item-title {
  color: #13183f;
  font-size: 20px;
  margin-bottom: 16px;
}
.activities_item-description {
  color: #83869A;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 28px;
  font-weight: 300;
}
@media (min-width: 768px) {
  .activities .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 20px;
  }
}
@media (min-width: 1024px) {
  .activities .container {
    padding-bottom: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px 20px;
  }
}

footer.footer-principal {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #13183f;
}
footer.footer-principal .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer.footer-principal ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer.footer-principal .button {
  background: linear-gradient(180deg, #4851ff 0%, #f02aa6 99.92%);
}

header.header-principal {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 38px;
}
header.header-principal .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.header-principal ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 1024px) {
  header.header-principal {
    margin-bottom: 70px;
  }
}
@media (min-width: 1200px) {
  header.header-principal {
    margin-bottom: 100px;
  }
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1024px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (min-width: 768px) {
  body {
    background-image: url("../img/woman_tablet.png");
    background-repeat: no-repeat;
    background-position: 120% 0%;
    background-size: 400px;
  }
}
@media (min-width: 1024px) {
  body {
    background-position: 110% -5%;
    background-size: 500px;
  }
}
@media (min-width: 1200px) {
  body {
    background-position: 110% -2%;
  }
}

html * {
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  overflow-x: hidden;
  font-size: 16px;
}

img {
  max-width: 100%;
}/*# sourceMappingURL=style.css.map */


@media (min-width: 1250px) {
  .hero {
    flex-direction: row; /* Cambia a fila para alinear la imagen y los números */
  }

  .hero_img {
    justify-content: center; /* Centra la imagen */
  }

  .hero_number.hero_number-1 {
    bottom: 10%; /* Posición en la esquina inferior izquierda */
    left: 5%; /* Ajusta la posición desde la izquierda */
  }

  .hero_number.hero_number-2 {
    top: 10%; /* Posición en la esquina superior derecha */
    right: 5%; /* Ajusta la posición desde la derecha */
  }
}

